.file-wrapper{
    display: inline-flex;
    align-items: center;
    

    & input[type="file"]{
        display: none;
    }

    & label{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        background-color: var(--shape-button);
        border-radius: .5rem;
        padding: .75rem .75rem  ;
    }

    & .file-name::before{
        display: inline-block;
        content: "Nenhum arquivo selecionado";
        font: var(--BodyMd);
        color: var(--input-placeholder);
        margin-left: 0.75rem;
        margin-bottom: 0.1rem;
        
    }
    & label:hover {
        transition: 0.2s ease-in-out;
        background-color: var(--shape-hover);
      }
}